*{
    margin: 0;
    padding: 0;
}

.brand_img{
    height: 55px;
    width: 55px;
    border-radius: 25%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.result-column{
padding: 1rem;
background-color: rgb(69, 0, 133);
border-radius: 20px;
}

.project-tagline{
    text-transform: capitalize;
}

.result-head{
    color: white;
    text-transform: capitalize;
}

.result{
    font-size: 4em;
    margin-top: 5rem;
    color: yellow;
    text-transform: capitalize;
}

.human-heart{
    width: 100%;
    padding: 2rem;
}
.footer{
    height: 100%;
    background-color: rgb(235, 235, 235);
}